

.logo{
    width: 180px;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #C2D5A3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}    
    .nav-links{

    padding: 0;
}

.nav-links li{
    margin-left: 0;
    list-style: none ;
}
.nav-links a {
    text-decoration: none;
    color: #000 ;
}

.carousel {  
    margin-top: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.carousel img {  
    max-width: 300px;
    margin:0 10px;


}
